.home-container {
  width: 20em;
  padding: 10px 0;
  margin: 10px auto;
  border: 2px var(--secondary) solid;
  padding: 6px;
  border-radius: 4px;
  background-color: var(--accent);
}

.home-container[onclick] {
  cursor: pointer;
}

p {
  font-size: 1.2em;
}
