svg {
  width: 0.9em;
  height: 0.9em;
  display: inline-block;
  fill: var(--text);
}

#word-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5em;
  column-gap: 2em;
}

.added {
  display: inline-block;
  text-align: left;
  max-width: 16em;
  white-space: break-word;
}

.added h2 {
  text-align: center;
}
